.label {
  letter-spacing: 0.03em;
  line-height: 20px;
  font-weight: 500;
}
.label,
.mailIcon,
.text {
  position: relative;
}
.mailIcon {
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.text {
  flex: 1;
  letter-spacing: 0.03em;
  line-height: 24px;
}
.content {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.helpIcon {
  position: relative;
  width: 16px;
  height: 16px;
  display: none;
}
.hintText,
.input {
  align-self: stretch;
}
.input {
  border-radius: var(--br-7xs);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--color-lightgray-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-sm);
  gap: var(--gap-5xs);
  font-size: var(--label-m-semibold-size);
}
.hintText {
  position: relative;
  letter-spacing: 0.03em;
  line-height: 20px;
  font-family: var(--text-xs-medium);
  color: var(--gray-500);
  display: none;
}
.inputField,
.inputFieldBase {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.inputFieldBase {
  align-self: stretch;
  gap: var(--gap-7xs);
}
.inputField {
  flex: 1;
  text-align: left;
  font-size: var(--label-s-semibold-size);
  color: var(--text-1);
  font-family: var(--font-montserrat);
}
