.imageIcon {
  position: relative;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.image {
  border-radius: var(--br-7xs);
  background-color: var(--primary-inverse);
  border: 1px solid var(--neutral-50);
  box-sizing: border-box;
  width: 56px;
  height: 56px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.titanSagaChains {
  align-self: stretch;
  position: relative;
  letter-spacing: 3px;
  line-height: 150%;
  font-weight: 500;
}
.name {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.closeIcon,
.div {
  position: relative;
}
.closeIcon {
  width: 24px;
  height: 24px;
}
.div {
  align-self: stretch;
  letter-spacing: 3px;
  line-height: 150%;
}
.right,
.row1 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.right {
  width: 80px;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-9xs);
  text-align: right;
  font-size: var(--label-s-semibold-size);
}
.row1 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-5xl);
}
.div1,
.tax {
  position: relative;
  text-decoration: underline;
  letter-spacing: 3px;
  line-height: 150%;
}
.tax {
  display: inline-block;
  width: 200px;
  flex-shrink: 0;
}
.div1 {
  color: var(--neutral-900);
  text-align: right;
}
.row2 {
  align-self: stretch;
  border-top: 1px solid var(--neutral-50);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-base) 0 0;
  font-size: var(--label-s-semibold-size);
  color: var(--neutral-200);
  font-family: var(--font-lexend);
}
.box,
.row {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.box {
  flex: 1;
  flex-direction: column;
}
.row {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 var(--padding-5xl);
}
.div2,
.total {
  position: relative;
  letter-spacing: 3px;
  line-height: 150%;
  font-weight: 600;
}
.div2 {
  font-size: var(--font-size-xl);
  font-weight: 500;
}
.list,
.row3 {
  align-self: stretch;
  display: flex;
}
.row3 {
  border-bottom: 1px solid var(--neutral-50);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 var(--padding-xl) var(--padding-53xl);
  font-size: var(--label-m-semibold-size);
  color: var(--color-darkkhaki-200);
}
.list {
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--text-1);
  font-family: var(--font-montserrat);
}
