.rectangle {
  position: absolute;
  top: 150px;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-200);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.09);
  width: 373px;
  height: 275px;
}
.theAxeOf,
.theRetiredHero {
  position: absolute;
  top: 238px;
  left: 57px;
  letter-spacing: 0.03em;
}
.theRetiredHero {
  top: 296px;
  left: 25px;
  font-size: var(--font-size-lg);
  line-height: 26.1px;
  font-family: var(--font-montserrat);
  color: var(--color-darkgray-100);
  display: inline-block;
  width: 324px;
}
.image15Icon {
  position: absolute;
  top: 0;
  left: 37px;
  width: 300px;
  height: 202.26px;
  object-fit: cover;
}
.rectangleParent {
  position: relative;
  width: 373px;
  height: 425px;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--primary-inverse);
  font-family: var(--font-libre-baskerville);
}
