.credits {
  position: relative;
  letter-spacing: 0.03em;
  font-family: var(--font-libre-baskerville);
}
.weKindlyRequest {
  margin: 0;
}
.text,
.weKindlyRequestContainer {
  position: relative;
  letter-spacing: 0.03em;
}
.weKindlyRequestContainer {
  align-self: stretch;
  font-size: var(--font-size-xl);
  line-height: 30px;
}
.text {
  line-height: 28px;
  font-weight: 600;
}
.button,
.buttonBase,
.section {
  display: flex;
  flex-direction: row;
}
.buttonBase {
  flex: 1;
  border-radius: var(--br-7xs);
  background-color: var(--color-darkkhaki-200);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--color-darkkhaki-200);
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-lg);
}
.button,
.section {
  border-radius: var(--br-5xs);
  width: 210px;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-lg);
}
.section {
  position: absolute;
  top: 4127px;
  left: calc(50% - 640px);
  background-color: var(--color-darkslategray-300);
  width: 1280px;
  height: 404px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-29xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--text-1);
  font-family: var(--font-montserrat);
}
