.frameChild {
  background-color: var(--color-darkkhaki-200);
  width: 8px;
  height: 8px;
  opacity: 0.38;
}
.ellipseDiv,
.frameChild,
.frameInner {
  position: relative;
  border-radius: 50%;
}
.frameInner {
  background-color: var(--color-darkkhaki-200);
  border: 4px solid var(--color-darkkhaki-200);
  box-sizing: border-box;
  width: 12px;
  height: 12px;
}
.ellipseDiv {
  background-color: var(--text-1);
  width: 8px;
  height: 8px;
}
.ellipseParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.estimateTheScope,
.moreDetails {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.03em;
}
.moreDetails {
  line-height: 27px;
}
.estimateTheScope {
  font-size: var(--font-size-21xl);
  font-family: var(--font-libre-baskerville);
}
.frameGroup,
.moreDetailsParent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.moreDetailsParent {
  width: 649px;
  align-items: flex-start;
  gap: var(--gap-xs);
}
.frameGroup {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-13xl);
  font-size: var(--font-size-xl);
  color: var(--text-1);
}
.typcnthSmallOutlineIcon {
  position: relative;
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.quickTasks,
.small {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 28px;
  font-weight: 300;
}
.quickTasks {
  font-size: var(--label-s-semibold-size);
}
.input {
  background-color: var(--color-darkkhaki-300);
}
.input,
.input1 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-7xs);
  border: 1px solid var(--text-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-5xl) var(--padding-9xs);
}
.longTermComplex {
  align-self: stretch;
  position: relative;
  font-size: var(--label-s-semibold-size);
  letter-spacing: 0.05em;
  line-height: 17px;
  font-weight: 300;
  text-align: center;
}
.inputParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.howLongIt {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.03em;
  font-weight: 500;
}
.checkboxBase {
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--primary-inverse);
  border: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.checkbox1,
.input3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.input3 {
  padding: var(--padding-11xs) 0 0;
}
.supportingText,
.text {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.03em;
  line-height: 20px;
}
.supportingText {
  font-size: var(--label-s-semibold-size);
  letter-spacing: 0.02em;
  color: var(--color-gray-100);
  display: none;
}
.checkbox,
.textAndSupportingText {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.textAndSupportingText {
  flex: 1;
  flex-direction: column;
}
.checkbox {
  width: 344px;
  flex-direction: row;
  gap: var(--gap-5xs);
}
.input4 {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) 0 0;
}
.checkboxBaseIcon {
  position: relative;
  border-radius: var(--br-5xs);
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.checkbox2 {
  width: 344px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  color: var(--color-darkkhaki-200);
}
.checkboxParent,
.howLongItWillTakeParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.checkboxParent {
  justify-content: flex-start;
  padding: 0 var(--padding-xs);
  gap: var(--gap-xs);
}
.howLongItWillTakeParent {
  justify-content: center;
  gap: var(--gap-5xl);
}
.to3Months {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.03em;
  font-weight: 500;
  color: var(--color-darkkhaki-200);
  display: none;
}
.supportingText3,
.supportingText4 {
  position: relative;
  font-size: var(--label-s-semibold-size);
  letter-spacing: 0.02em;
  line-height: 20px;
  color: var(--color-gray-100);
}
.supportingText4 {
  display: inline-block;
  width: 330px;
}
.frameWrapper,
.to3MonthsParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.to3MonthsParent {
  width: 657px;
  justify-content: center;
  gap: var(--gap-5xl);
}
.frameWrapper {
  align-self: stretch;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.text6 {
  position: relative;
  letter-spacing: 0.03em;
  line-height: 24px;
  font-weight: 500;
}
.buttonBase {
  flex: 1;
  border-radius: var(--br-5xs);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--color-darkkhaki-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-lg);
}
.button,
.buttonBase1 {
  border-radius: var(--br-7xs);
  display: flex;
  flex-direction: row;
}
.button {
  width: 210px;
  align-items: flex-start;
  justify-content: flex-start;
}
.buttonBase1 {
  flex: 1;
  background-color: var(--color-darkkhaki-200);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--color-darkkhaki-200);
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-lg);
}
.button1,
.modalActions {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.button1 {
  border-radius: var(--br-5xs);
  width: 210px;
  justify-content: flex-start;
  color: var(--text-1);
}
.modalActions {
  align-self: stretch;
  justify-content: space-between;
  font-size: var(--label-m-semibold-size);
  color: var(--color-darkkhaki-200);
}
.frameContainer,
.frameParent {
  display: flex;
  flex-direction: column;
  gap: var(--gap-13xl);
}
.frameContainer {
  align-self: stretch;
  align-items: flex-end;
  justify-content: flex-end;
}
.frameParent {
  flex: 1;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-29xl) 0;
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--primary-inverse);
  font-family: var(--font-montserrat);
}
