.expiryDate,
.mmyyyy {
  position: relative;
  letter-spacing: 0.03em;
}
.mmyyyy {
  letter-spacing: 0.05em;
  line-height: 28px;
}
.expiryDateParent,
.input {
  display: flex;
  align-items: flex-start;
}
.input {
  border-radius: var(--br-7xs);
  border: 1px solid var(--text-1);
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-3xs);
}
.expiryDateParent {
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-5xs);
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--text-1);
  font-family: var(--font-montserrat);
}
