.q1Child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-base);
  width: 880px;
  height: 72px;
  opacity: 0.1;
}
.whatIsGame {
  position: absolute;
  top: 25px;
  left: 50px;
  letter-spacing: 0.06em;
  font-weight: 600;
}
.designIcon,
.q1,
.vuesaxlineararrowUpIcon {
  position: absolute;
  top: 26px;
  left: 840px;
  width: 20px;
  height: 20px;
}
.designIcon,
.q1 {
  top: 29px;
  left: 20px;
  width: 14px;
  height: 14px;
}
.q1 {
  top: 150px;
  left: 4px;
  width: 880px;
  height: 72px;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--text-1);
  font-family: var(--text-xs-medium);
}
