.yourOrder {
  position: relative;
  letter-spacing: 3px;
  line-height: 150%;
}
.vuesaxboldtickCircleIcon {
  position: relative;
  width: 18px;
  height: 18px;
}
.row,
.top {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.row {
  justify-content: flex-start;
  gap: var(--gap-7xs);
  font-size: var(--label-m-semibold-size);
  color: var(--color-darkkhaki-200);
}
.top {
  align-self: stretch;
  border-bottom: 1px solid var(--text-1);
  justify-content: space-between;
  padding: 0 0 var(--padding-5xl);
  font-family: var(--font-lexend);
}
.passtern {
  position: absolute;
  margin: 0 !important;
  top: 48px;
  left: calc(50% - 128px);
  border-radius: 50%;
  background-color: var(--text-1);
  box-shadow: 0 0 20px rgba(5, 66, 44, 0.1);
  width: 257px;
  height: 130px;
  opacity: 0.4;
  z-index: 0;
}
.imageIcon {
  position: relative;
  width: 40px;
  height: 40px;
  object-fit: cover;
  z-index: 1;
}
.image {
  border-radius: var(--br-7xs);
  background-color: var(--text-1);
  border: 1px solid var(--text-1);
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: var(--gap-5xs);
}
.titanSagaChains,
.x {
  position: relative;
  letter-spacing: 3px;
  line-height: 150%;
  font-weight: 500;
}
.x {
  font-weight: 300;
}
.xParent {
  width: 84px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.div1 {
  position: relative;
  letter-spacing: 3px;
  line-height: 150%;
  text-align: right;
}
.row2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.box,
.row1 {
  display: flex;
  justify-content: flex-start;
}
.box {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}
.row1 {
  align-self: stretch;
  border-bottom: 1px solid var(--text-1);
  flex-direction: row;
  align-items: center;
  padding: 0 0 var(--padding-5xl);
  gap: var(--gap-base);
}
.div2 {
  position: relative;
  font-size: var(--font-size-xl);
  letter-spacing: 3px;
  line-height: 150%;
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: var(--accent);
}
.list,
.row3 {
  align-self: stretch;
  display: flex;
}
.row3 {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-5xs) 0 var(--padding-5xl);
  font-size: var(--label-s-semibold-size);
  font-family: var(--font-lexend);
}
.list {
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.text {
  position: relative;
  letter-spacing: 0.03em;
  line-height: 28px;
  font-weight: 600;
}
.buttonBase {
  flex: 1;
  border-radius: var(--br-7xs);
  background-color: var(--color-darkkhaki-200);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--color-darkkhaki-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-lg);
}
.button,
.panel {
  display: flex;
  justify-content: flex-start;
}
.button {
  border-radius: var(--br-5xs);
  width: 210px;
  flex-direction: row;
  align-items: flex-start;
  font-size: var(--font-size-lg);
}
.panel {
  position: absolute;
  top: 222px;
  left: calc(50% - 720px);
  width: 1440px;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-13xl) var(--padding-116xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--text-1);
  font-family: var(--font-montserrat);
}
