.topic1Child {
  position: absolute;
  top: -0.5px;
  left: -0.5px;
  border-radius: var(--br-13xl);
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.25);
  border: 0.5px solid var(--text-1);
  box-sizing: border-box;
  width: 307px;
  height: 444px;
}
.contentUpdate042,
.patchNotes {
  position: absolute;
  line-height: 31px;
}
.patchNotes {
  top: 218px;
  left: 104px;
  letter-spacing: 0.04em;
  font-weight: 600;
}
.contentUpdate042 {
  top: 187px;
  left: 28px;
  font-size: var(--font-size-xl);
  letter-spacing: 0.08em;
  font-family: var(--font-libre-baskerville);
  color: var(--accent);
}
.forgottenShoreAnd {
  position: absolute;
  top: 261px;
  left: 10px;
  font-size: var(--label-s-semibold-size);
  letter-spacing: 0.04em;
  line-height: 20px;
  color: var(--primary-inverse);
  display: inline-block;
  width: 286px;
  height: 102px;
}
.buttonChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-base);
  border: 1px solid var(--color-darkkhaki-100);
  box-sizing: border-box;
  width: 150px;
  height: 40px;
}
.readMore {
  position: absolute;
  top: 10px;
  left: 27px;
  letter-spacing: 0.04em;
  line-height: 20px;
}
.button {
  position: absolute;
  top: 383px;
  left: 78px;
  width: 150px;
  height: 40px;
  font-size: var(--label-m-semibold-size);
  color: var(--color-darkkhaki-100);
}
.icon,
.topic1Item {
  position: absolute;
  display: none;
}
.topic1Item {
  top: -41px;
  left: 58px;
  border-radius: 50%;
  background-color: var(--color-mediumseagreen-100);
  filter: blur(40px);
  width: 190px;
  height: 190px;
  opacity: 0.12;
}
.icon {
  top: 538px;
  left: 120px;
  width: 146px;
  height: 183px;
  object-fit: cover;
}
.ssFad1864787e486f5fc10dc2555aIcon {
  position: absolute;
  top: 4px;
  left: 5px;
  border-radius: var(--br-13xl) var(--br-13xl) var(--br-12xs) var(--br-12xs);
  width: 297px;
  height: 167px;
  object-fit: cover;
}
.topic1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 306px;
  height: 443px;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-gray-1200);
  font-family: var(--font-montserrat);
}
