.email {
  position: relative;
  letter-spacing: 0.03em;
}
.emerystantongmailcom {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 28px;
}
.emailParent {
  width: 542px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-93xl);
}
.changeEmailWrapper,
.frameGroup {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.changeEmailWrapper {
  flex-direction: row;
  padding: 0 var(--padding-3xs) 0 var(--padding-145xl);
  color: var(--color-darkkhaki-200);
}
.frameGroup {
  flex-direction: column;
  gap: var(--gap-11xs);
}
.changePassword {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 28px;
  color: var(--color-darkkhaki-200);
}
.r {
  width: 542px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-59xl);
}
.visaIcon {
  position: relative;
  width: 37px;
  height: 14px;
  overflow: hidden;
  flex-shrink: 0;
}
.frameParent,
.mastercard {
  display: flex;
  flex-direction: column;
}
.mastercard {
  border-radius: var(--br-7xs);
  background-color: var(--text-1);
  border: 1px solid var(--text-1);
  box-sizing: border-box;
  width: 56px;
  height: 32px;
  align-items: center;
  justify-content: center;
}
.frameParent {
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-17xl);
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--primary-inverse);
  font-family: var(--font-montserrat);
}
