.myProfile,
.thisInformationWill {
  position: relative;
  letter-spacing: 0.03em;
}
.myProfile {
  font-weight: 500;
}
.thisInformationWill {
  font-size: var(--label-m-semibold-size);
}
.myProfileParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mid);
}
.profilePicture {
  position: relative;
  letter-spacing: 0.03em;
}
.bg,
.es {
  position: absolute;
}
.bg {
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-darkkhaki-200);
  width: 70px;
  height: 70px;
}
.es {
  top: calc(50% - 15px);
  left: calc(50% - 16px);
  letter-spacing: 0.03em;
  font-weight: 600;
}
.avatar {
  position: relative;
  width: 70px;
  height: 70px;
}
.changePhoto {
  position: relative;
  letter-spacing: 2.8px;
  line-height: 28px;
  font-weight: 600;
}
.buttonprimary {
  border-radius: var(--br-7xs);
  border: 1px solid var(--text-1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-base);
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-silver-300);
}
.maxFileSize5MbParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  font-size: var(--label-m-semibold-size);
  color: var(--color-gray-100);
}
.avatarParent,
.frameGroup,
.profilePictureParent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.avatarParent {
  align-items: flex-start;
  gap: var(--gap-5xl);
  font-size: var(--font-size-5xl);
  color: var(--text-1);
}
.frameGroup,
.profilePictureParent {
  align-self: stretch;
  align-items: center;
  gap: var(--gap-61xl);
  font-size: var(--font-size-lg);
}
.frameGroup {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-37xl);
  font-size: var(--font-size-xl);
}
.emery {
  flex: 1;
  position: relative;
  letter-spacing: 0.05em;
  line-height: 28px;
}
.firstNameParent,
.input {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.input {
  border-radius: var(--br-7xs);
  border: 1px solid var(--text-1);
  box-sizing: border-box;
  width: 386px;
  align-items: flex-start;
  padding: var(--padding-xs) var(--padding-3xs);
}
.firstNameParent {
  width: 542px;
  align-items: center;
  gap: var(--gap-37xl);
}
.frameContainer {
  gap: var(--gap-5xl);
}
.frameContainer,
.frameWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.text {
  position: relative;
  letter-spacing: 0.03em;
  line-height: 28px;
  font-weight: 600;
}
.button,
.buttonBase {
  display: flex;
  flex-direction: row;
}
.buttonBase {
  flex: 1;
  border-radius: var(--br-7xs);
  background-color: var(--color-darkkhaki-200);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--color-darkkhaki-200);
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-lg);
}
.button {
  border-radius: var(--br-5xs);
  width: 210px;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--text-1);
}
.frameParent {
  position: absolute;
  top: 160px;
  left: 515px;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslategray-300);
  height: 571px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-31xl) var(--padding-21xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--primary-inverse);
  font-family: var(--font-montserrat);
}
