.letsCreateYour,
.welcomeToKneeshaw {
  align-self: stretch;
  position: relative;
  line-height: 62px;
}
.letsCreateYour {
  font-size: var(--font-size-xl);
  letter-spacing: 0.08em;
  line-height: 31px;
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: var(--color-dimgray-200);
}
.title {
  width: 535px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--font-size-33xl);
  font-family: var(--font-libre-baskerville);
}
.developer {
  position: relative;
  letter-spacing: 1.8px;
  line-height: 28px;
  font-weight: 600;
}
.buttonprimary,
.buttonprimary1 {
  flex: 1;
  border-radius: var(--br-lg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-base);
}
.buttonprimary {
  background-color: var(--color-darkkhaki-200);
}
.buttonprimary1 {
  color: var(--color-dimgray-200);
}
.buttonprimaryParent {
  border-radius: var(--br-xl);
  background-color: var(--text-1);
  width: 350px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs);
  box-sizing: border-box;
  gap: var(--gap-xs);
  color: var(--primary-inverse);
}
.firstName {
  align-self: stretch;
  position: relative;
  letter-spacing: 2px;
  line-height: 26px;
  font-weight: 500;
}
.buttonprimary2 {
  align-self: stretch;
  border-radius: var(--br-base);
  background-color: var(--primary-inverse);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  height: 52px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-base);
}
.neverShownTo {
  align-self: stretch;
  position: relative;
  font-size: var(--label-s-semibold-size);
  letter-spacing: 2px;
  line-height: 26px;
  font-weight: 500;
  display: none;
}
.buttonprimary3,
.buttonprimaryGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.buttonprimaryGroup {
  width: 219px;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.buttonprimary3 {
  align-self: stretch;
  border-radius: var(--br-base);
  background-color: var(--primary-inverse);
  border: 1px solid var(--color-silver-200);
  justify-content: center;
  padding: var(--padding-base);
}
.neverShownTo1 {
  align-self: stretch;
  position: relative;
  font-size: var(--label-s-semibold-size);
  letter-spacing: 2px;
  line-height: 26px;
  font-weight: 500;
  display: none;
  align-items: center;
  height: 26px;
  flex-shrink: 0;
}
.buttonprimaryContainer {
  width: 219px;
  height: 52px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.buttonprimary4,
.buttonprimaryContainer,
.frameParent {
  display: flex;
  align-items: flex-start;
}
.frameParent {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.buttonprimary4 {
  border-radius: var(--br-base);
  background-color: var(--primary-inverse);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 475px;
  height: 52px;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-base);
}
.neverShownTo2 {
  position: relative;
  font-size: var(--label-s-semibold-size);
  letter-spacing: 2px;
  line-height: 26px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 475px;
}
.frameDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.idealUsernameIs {
  align-self: stretch;
  font-size: var(--label-s-semibold-size);
}
.atLeast8,
.idealUsernameIs,
.show {
  position: relative;
  letter-spacing: 2px;
  line-height: 26px;
  font-weight: 500;
}
.show {
  line-height: 22px;
  color: var(--color-darkkhaki-200);
}
.forgotPass {
  width: 475px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: var(--label-s-semibold-size);
}
.privacyPolicy {
  font-weight: 600;
  color: var(--color-darkkhaki-200);
}
.byRegisteringYouContainer {
  align-self: stretch;
  position: relative;
  font-size: var(--label-s-semibold-size);
  letter-spacing: 2px;
  line-height: 22px;
  color: var(--color-dimgray-100);
}
.buttonprimary7 {
  align-self: stretch;
  border-radius: var(--br-lg);
  background-color: var(--color-darkkhaki-200);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-base);
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--primary-inverse);
}
.icongoogle {
  position: relative;
  width: 24.39px;
  height: 23.21px;
}
.buttonprimary8 {
  align-self: stretch;
  border-radius: var(--br-lg);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-silver-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-base);
  gap: var(--gap-3xs);
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-gray-300);
}
.alreadyHaveAnContainer {
  align-self: stretch;
  position: relative;
  font-size: var(--label-s-semibold-size);
  letter-spacing: 2px;
  line-height: 22px;
  text-align: center;
  color: var(--color-dimgray-100);
}
.form,
.signIn {
  border-radius: var(--br-xl);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xl) var(--padding-11xl) var(--padding-21xl);
  gap: var(--gap-5xl);
  text-align: left;
  color: var(--color-dimgray-200);
}
.signIn {
  position: absolute;
  top: 149px;
  left: 373px;
  border-radius: var(--br-5xl);
  background-color: var(--color-whitesmoke-100);
  padding: var(--padding-41xl) var(--padding-61xl) var(--padding-21xl);
  text-align: center;
  font-size: var(--label-m-semibold-size);
  color: var(--color-gray-700);
  font-family: var(--font-montserrat);
}
