.securePaymentsProvided {
  position: relative;
  letter-spacing: 4px;
  line-height: 150%;
  text-transform: uppercase;
  font-weight: 300;
}
.mastercardChild {
  position: relative;
  width: 30px;
  height: 18px;
}
.mastercard {
  border-radius: var(--br-7xs);
  background-color: var(--text-1);
  border: 1px solid var(--text-1);
  box-sizing: border-box;
  width: 56px;
  height: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logosamexIcon,
.visaIcon {
  position: relative;
  width: 37px;
  height: 14px;
  overflow: hidden;
  flex-shrink: 0;
}
.logosamexIcon {
  width: 24px;
  height: 24px;
}
.row2 {
  gap: var(--gap-xs);
}
.quantity,
.row,
.row2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.quantity {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--text-xs-medium-size);
  color: var(--text-1);
  font-family: var(--font-montserrat);
}
