.kneeshawIsHappy,
.welcomeBack {
  align-self: stretch;
  position: relative;
  letter-spacing: 1px;
  line-height: 62px;
}
.kneeshawIsHappy {
  font-size: var(--font-size-xl);
  letter-spacing: 0.09em;
  line-height: 31px;
  font-weight: 500;
  font-family: var(--font-montserrat);
}
.title {
  width: 535px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.enterYourEmail {
  align-self: stretch;
  position: relative;
  letter-spacing: 3px;
  line-height: 26px;
  font-weight: 500;
}
.buttonprimary {
  align-self: stretch;
  border-radius: var(--br-base);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-smi) var(--padding-base);
  text-align: left;
}
.buttonprimary,
.buttonprimary1,
.shape {
  border: 1px solid var(--text-1);
}
.buttonprimary1 {
  align-self: stretch;
  border-radius: var(--br-base);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-smi) var(--padding-base);
}
.shape {
  position: relative;
  border-radius: var(--br-8xs);
  box-sizing: border-box;
  width: 19px;
  height: 19px;
}
.rememberMe {
  position: relative;
  letter-spacing: 3px;
  line-height: 22px;
}
.check {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.forgotPassword {
  position: relative;
  letter-spacing: 3px;
  line-height: 22px;
  font-weight: 500;
  color: var(--accent);
}
.forgotPass {
  width: 475px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-195xl);
  font-size: var(--label-s-semibold-size);
  color: var(--text-1);
}
.buttonprimary2,
.createPass {
  display: flex;
  flex-direction: column;
}
.createPass {
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  text-align: left;
}
.buttonprimary2 {
  align-self: stretch;
  border-radius: var(--br-lg);
  background-color: var(--color-darkkhaki-200);
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-base);
  font-size: var(--font-size-lg);
}
.icongoogle {
  position: relative;
  width: 24.39px;
  height: 23.21px;
}
.signInWith {
  position: relative;
  letter-spacing: 2.8px;
  line-height: 28px;
  font-weight: 600;
}
.buttonprimary3 {
  align-self: stretch;
  border-radius: var(--br-lg);
  background-color: var(--color-darkslategray-300);
  border: 1px solid var(--text-1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-base);
  gap: var(--gap-3xs);
  font-size: var(--font-size-lg);
  color: var(--text-1);
}
.signUp {
  font-weight: 600;
  color: var(--color-darkkhaki-200);
}
.dontHaveAnContainer {
  align-self: stretch;
  position: relative;
  font-size: var(--label-s-semibold-size);
  letter-spacing: 3px;
  line-height: 22px;
  color: var(--text-1);
}
.form,
.signIn {
  display: flex;
  flex-direction: column;
}
.form {
  border-radius: var(--br-xl);
  height: 472px;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-21xl) var(--padding-11xl);
  box-sizing: border-box;
  font-size: var(--label-m-semibold-size);
  color: var(--primary-inverse);
  font-family: var(--font-montserrat);
}
.signIn {
  position: absolute;
  top: 149px;
  left: 373px;
  border-radius: var(--br-5xl);
  background-color: var(--color-darkslategray-300);
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-41xl) var(--padding-61xl);
  gap: var(--gap-5xl);
  text-align: center;
  font-size: var(--font-size-33xl);
  color: var(--text-1);
  font-family: var(--font-libre-baskerville);
}
