.searchOrAdd {
  position: relative;
  letter-spacing: 0.03em;
}
.basilsearchOutlineIcon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.search {
  flex: 1;
  position: relative;
  letter-spacing: 0.05em;
  line-height: 28px;
  font-weight: 300;
}
.input,
.searchOrAddUpTo10SkillsParent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.input {
  border-radius: var(--br-7xs);
  border: 1px solid var(--text-1);
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-3xs);
  gap: var(--gap-3xs);
}
.searchOrAddUpTo10SkillsParent {
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-xs);
}
.popularSkills,
.text {
  position: relative;
  letter-spacing: 0.03em;
  font-weight: 500;
}
.popularSkills {
  font-size: var(--font-size-lg);
  color: var(--primary-inverse);
}
.text {
  line-height: 24px;
}
.buttonBase {
  flex: 1;
}
.buttonBase,
.buttonBase2 {
  border-radius: var(--br-5xs);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--color-darkkhaki-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-xs);
  gap: var(--gap-5xs);
}
.button {
  border-radius: var(--br-7xs);
  width: 649px;
  align-items: flex-start;
  justify-content: flex-start;
}
.button,
.button1,
.buttonBase5 {
  display: flex;
  flex-direction: row;
  gap: var(--gap-5xs);
}
.buttonBase5 {
  border-radius: var(--br-5xs);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--color-darkkhaki-200);
  box-sizing: border-box;
  width: 105px;
  overflow: hidden;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-xs);
}
.button1 {
  border-radius: var(--br-7xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.popularSkillsParent {
  flex-direction: column;
  gap: var(--gap-xs);
  font-size: var(--label-m-semibold-size);
  color: var(--color-darkkhaki-200);
}
.frameGroup,
.input1,
.popularSkillsParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameGroup {
  width: 649px;
  flex-direction: column;
  gap: var(--gap-5xl);
}
.input1 {
  align-self: stretch;
  border-bottom: 1px solid var(--color-whitesmoke-500);
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-3xs);
  gap: var(--gap-3xs);
}
.text6 {
  position: relative;
  letter-spacing: 0.03em;
  line-height: 24px;
  font-weight: 600;
}
.button2,
.buttonBase6 {
  display: flex;
  flex-direction: row;
}
.buttonBase6 {
  flex: 1;
  border-radius: var(--br-7xs);
  background-color: var(--color-darkkhaki-200);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--color-darkkhaki-200);
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-lg);
}
.button2 {
  border-radius: var(--br-5xs);
  width: 210px;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--label-m-semibold-size);
  color: var(--text-1);
}
.frameParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: var(--gap-13xl);
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--primary-inverse);
  font-family: var(--font-montserrat);
}
