.forgotPassword,
.noWorries {
  align-self: stretch;
  position: relative;
  letter-spacing: 1px;
  line-height: 62px;
}
.forgotPassword {
  font-size: var(--font-size-xl);
  letter-spacing: 0.09em;
  line-height: 31px;
  font-weight: 500;
  font-family: var(--font-montserrat);
}
.enterYourPhone,
.title {
  display: flex;
  align-items: center;
}
.title {
  width: 535px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.enterYourPhone {
  position: relative;
  letter-spacing: 3px;
  line-height: 26px;
  font-weight: 500;
  justify-content: center;
  width: 475px;
}
.mdihorizontalLineIcon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.buttonprimary {
  border-radius: var(--br-base);
  border: 1px solid var(--text-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-base);
}
.buttonprimaryParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.enterYourPhoneNumberThatYParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.sendCode {
  position: relative;
  letter-spacing: 2.8px;
  line-height: 28px;
  font-weight: 600;
}
.buttonprimary7 {
  align-self: stretch;
  border-radius: var(--br-lg);
  background-color: var(--color-darkkhaki-200);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-base);
  font-size: var(--font-size-lg);
  color: var(--primary-inverse);
}
.sendAgain {
  font-weight: 600;
  color: var(--color-darkkhaki-200);
}
.didntReceiveTheContainer {
  align-self: stretch;
  position: relative;
  letter-spacing: 3px;
  line-height: 22px;
}
.form,
.signIn {
  border-radius: var(--br-xl);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xl) var(--padding-21xl);
  gap: var(--gap-5xl);
  font-size: var(--label-s-semibold-size);
  font-family: var(--font-montserrat);
}
.signIn {
  position: absolute;
  top: 149px;
  left: 373px;
  border-radius: var(--br-5xl);
  background-color: var(--color-darkslategray-300);
  align-items: center;
  padding: var(--padding-41xl) var(--padding-61xl);
  text-align: center;
  font-size: var(--font-size-33xl);
  color: var(--text-1);
  font-family: var(--font-libre-baskerville);
}
