.imageIcon {
  position: absolute;
  top: 80px;
  left: 48px;
  width: 100px;
  height: 9px;
  overflow: hidden;
}
.bringUniqueFaction {
  position: absolute;
  top: 110px;
  left: 48px;
  font-size: var(--font-size-21xl);
  letter-spacing: 0.03em;
}
.rectangle {
  position: absolute;
  top: 150px;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-200);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.09);
  width: 373px;
  height: 275px;
}
.bootleggers {
  position: absolute;
  top: 328px;
  left: 111px;
  letter-spacing: 0.03em;
}
.image15Icon {
  position: absolute;
  top: 0;
  left: 37px;
  width: 300px;
  height: 316px;
  object-fit: cover;
}
.rectangleParent {
  position: relative;
  width: 373px;
  height: 425px;
}
.barbarians,
.elite {
  position: absolute;
  top: 328px;
  letter-spacing: 0.03em;
}
.barbarians {
  left: 120px;
  display: inline-block;
  width: 135px;
  height: 34px;
}
.elite {
  left: 157px;
}
.groupParent {
  position: absolute;
  top: 899px;
  left: calc(50% - 592px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  text-align: center;
  color: var(--light-bg-block-primary);
}
.eternal,
.forgotten {
  position: absolute;
  top: 328px;
  left: 124px;
  letter-spacing: 0.03em;
}
.eternal {
  left: 140px;
}
.groupContainer {
  position: absolute;
  top: 426px;
  left: calc(50% - 592px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  text-align: center;
  color: var(--light-bg-block-primary);
}
.embarkOnA {
  margin: 0;
}
.embarkOnAContainer {
  position: absolute;
  top: 181px;
  left: 48px;
  font-size: var(--font-size-xl);
  letter-spacing: 0.03em;
  line-height: 27px;
  font-family: var(--font-montserrat);
  display: inline-block;
  width: 1194px;
}
.imageParent {
  position: absolute;
  top: 583px;
  left: calc(50% - 645px);
  border-radius: var(--br-5xs);
  background-color: var(--color-darkslategray-300);
  width: 1290px;
  height: 1404px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--text-1);
  font-family: var(--font-libre-baskerville);
}
