.ourBlog {
  position: absolute;
  top: 256px;
  left: calc(50% - 101px);
  letter-spacing: 0.03em;
  font-family: var(--font-libre-baskerville);
  text-align: center;
}
.imageIcon {
  position: absolute;
  top: 362px;
  left: 670px;
  width: 100px;
  height: 9px;
  overflow: hidden;
}
.insightsNewsAnd {
  position: absolute;
  top: 429px;
  left: 237px;
  font-size: var(--font-size-xl);
  letter-spacing: 0.03em;
  line-height: 27px;
  text-align: center;
  display: inline-block;
  width: 966px;
}
.footerChild,
.footerItem {
  position: absolute;
  box-sizing: border-box;
}
.footerChild {
  bottom: 363.85px;
  left: -0.15px;
  border-top: 0.3px solid var(--text-1);
  width: 1440.3px;
  height: 0.3px;
}
.footerItem {
  top: 341.9px;
  left: 347.9px;
  border-top: 0.2px solid var(--text-1);
  width: 744.2px;
  height: 0.2px;
  display: none;
}
.kneeshawDevelomentAll {
  position: absolute;
  bottom: 0;
  left: 536px;
  font-size: var(--font-size-mini);
  letter-spacing: 0.03em;
  font-weight: 300;
  opacity: 0.66;
}
.logoWhite1 {
  position: absolute;
  bottom: 277px;
  left: 89px;
  width: 150px;
  height: 67px;
  object-fit: cover;
}
.akarIconslinkedinFill {
  position: relative;
  width: 25px;
  height: 25px;
  overflow: hidden;
  flex-shrink: 0;
}
.icons {
  position: absolute;
  bottom: 222px;
  left: 45px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xl);
}
.joinOurNewsletter {
  position: absolute;
  bottom: 309px;
  left: 1110px;
  letter-spacing: 0.06em;
  font-family: var(--font-libre-baskerville);
  color: var(--primary-inverse);
  opacity: 0.7;
}
.subscribeChild {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: var(--br-base);
  background-color: var(--color-silver-300);
  width: 415px;
  height: 54px;
  opacity: 0.15;
}
.subscribeItem {
  position: absolute;
  bottom: 7px;
  left: 274px;
  border-radius: var(--br-2xs);
  background-color: var(--color-darkkhaki-200);
  width: 134px;
  height: 40px;
}
.subscribe1 {
  position: absolute;
  bottom: 13px;
  left: 293px;
  letter-spacing: 0.11em;
  line-height: 28px;
  font-weight: 600;
}
.yourEmail {
  position: absolute;
  bottom: 19px;
  left: 20px;
  font-size: var(--label-s-semibold-size);
  letter-spacing: 0.13em;
  color: var(--primary-inverse);
  text-align: left;
  opacity: 0.65;
}
.subscribe {
  position: absolute;
  bottom: 235px;
  left: 985px;
  width: 415px;
  height: 54px;
  text-align: center;
}
.terms {
  position: relative;
  letter-spacing: 0.05em;
  font-weight: 600;
}
.privacy {
  position: absolute;
  bottom: 209px;
  left: 646px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.games {
  position: relative;
  letter-spacing: 0.03em;
  font-weight: 600;
}
.footer,
.menu {
  position: absolute;
}
.menu {
  bottom: 109px;
  left: 404px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.footer {
  bottom: 24px;
  left: 0;
  width: 1440px;
  height: 364px;
  font-size: var(--label-m-semibold-size);
}
.pagesCountChild,
.pagesCountItem {
  position: relative;
  border-radius: var(--br-4xs);
  width: 30px;
  height: 30px;
}
.pagesCountChild {
  opacity: 0.35;
}
.pagesCountItem {
  background-color: var(--accent);
}
.arrowIcon,
.pagesCount {
  position: absolute;
  left: 0;
}
.pagesCount {
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 35px;
}
.arrowIcon {
  top: 4px;
  width: 12px;
  height: 12px;
  opacity: 0.7;
}
.div,
.div1,
.div2,
.div3,
.div4,
.div5 {
  position: absolute;
  top: 0;
  letter-spacing: 0.02em;
  font-weight: 600;
}
.div {
  left: 67px;
  color: var(--primary-inverse);
}
.div1,
.div2,
.div3,
.div4,
.div5 {
  left: 132px;
}
.div2,
.div3,
.div4,
.div5 {
  left: 197px;
}
.div3,
.div4,
.div5 {
  top: -3px;
  left: 260px;
}
.div4,
.div5 {
  top: 0;
  left: 323px;
}
.div5 {
  left: 388px;
}
.arrowIcon1 {
  position: absolute;
  top: 4px;
  left: 456px;
  width: 12px;
  height: 12px;
  opacity: 0.7;
}
.arrowParent,
.pages {
  position: absolute;
  top: 5px;
  left: 9px;
  width: 482px;
  height: 19px;
}
.pages {
  top: 1722px;
  left: 478px;
  width: 491px;
  height: 30px;
  font-size: var(--label-s-semibold-size);
  color: var(--color-whitesmoke-400);
  font-family: var(--font-open-sans);
}
.shape,
.shape1 {
  position: absolute;
  border-radius: 50%;
  border: 10px solid var(--color-silver-300);
  box-sizing: border-box;
  opacity: 0.08;
}
.shape {
  top: 240.92px;
  left: 1250.35px;
  width: 359px;
  height: 485px;
  transform: rotate(-15deg);
  transform-origin: 0 0;
}
.shape1 {
  top: 273.2px;
  left: 1247px;
  width: 355px;
  height: 355px;
}
.logoWhite11 {
  position: relative;
  width: 192px;
  height: 86px;
  object-fit: cover;
}
.menu1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-51xl);
}
.shoppingBagIcon {
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 0;
}
.div6 {
  position: relative;
  letter-spacing: 3px;
  line-height: 150%;
}
.badge,
.shoppingBagParent {
  display: flex;
  align-items: center;
}
.badge {
  margin: 0 !important;
  position: absolute;
  top: 10px;
  left: 15px;
  border-radius: var(--br-81xl);
  background-color: var(--color-darkkhaki-200);
  width: 16px;
  height: 16px;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}
.shoppingBagParent {
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  text-align: center;
  font-size: var(--font-size-3xs);
}
.signIn1 {
  position: absolute;
  top: 15px;
  left: 0;
  letter-spacing: 0.02em;
  font-weight: 600;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}
.signInChild {
  position: absolute;
  top: 0;
  left: 84px;
  border-radius: var(--br-lg);
  background-color: var(--color-darkkhaki-200);
  width: 150px;
  height: 52px;
}
.signUp {
  position: absolute;
  top: 15px;
  left: 124px;
  letter-spacing: 0.02em;
  font-weight: 600;
  color: var(--text-1);
}
.signIn {
  position: relative;
  width: 234px;
  height: 52px;
  color: var(--color-darkkhaki-200);
}
.bg,
.es {
  position: absolute;
}
.bg {
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-darkkhaki-200);
  width: 48px;
  height: 48px;
}
.es {
  top: calc(50% - 11px);
  left: calc(50% - 12px);
  letter-spacing: 0.03em;
  font-weight: 600;
}
.avatar {
  position: relative;
  width: 48px;
  height: 48px;
}
.emeryStanton {
  position: relative;
  letter-spacing: 0.03em;
  font-weight: 600;
  display: none;
}
.icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.frameParent,
.header1,
.profile {
  flex-direction: row;
  align-items: center;
}
.profile {
  height: 68px;
  display: none;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frameParent,
.header1 {
  display: flex;
}
.frameParent {
  justify-content: center;
  gap: var(--gap-5xl);
}
.header1 {
  flex: 1;
  justify-content: space-between;
  z-index: 0;
}
.header,
.headerChild {
  position: absolute;
  box-sizing: border-box;
}
.headerChild {
  margin: 0 !important;
  top: 61px;
  left: 505px;
  border-top: 2px solid var(--color-darkkhaki-200);
  width: 67px;
  height: 2px;
  z-index: 1;
}
.header {
  top: 24px;
  left: 0;
  width: 1440px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-41xl);
  gap: var(--gap-153xl);
  font-size: var(--font-size-lg);
}
.blog {
  position: relative;
  background-color: var(--color-gray-600);
  width: 100%;
  height: 2260px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--text-1);
  font-family: var(--font-montserrat);
}
