.agencyServices {
  margin: 0;
  position: absolute;
  top: 29px;
  right: 0;
  font-size: inherit;
  letter-spacing: 0.04em;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  width: 538px;
  height: 54px;
}
.areYouLooking {
  margin: 0;
}
.areYouLookingContainer {
  position: absolute;
  top: 98.65px;
  left: 0;
  font-size: var(--font-size-xl);
  letter-spacing: 0.08em;
  line-height: 31px;
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: var(--color-black);
  display: inline-block;
  width: 860.34px;
  height: 280.86px;
}
.readMore {
  position: relative;
  font-size: var(--font-size-lg);
  letter-spacing: 1.8px;
  line-height: 28px;
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: var(--color-darkkhaki-200);
  text-align: center;
}
.buttonprimary {
  cursor: pointer;
  border: 2px solid var(--color-darkkhaki-200);
  padding: var(--padding-xs) var(--padding-base);
  background-color: transparent;
  position: absolute;
  top: 399.65px;
  left: 609.81px;
  border-radius: var(--br-lg);
  box-sizing: border-box;
  width: 250.52px;
  height: 52.35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.imageIcon {
  position: absolute;
  top: 0;
  left: 738.13px;
  width: 122.21px;
  height: 9.06px;
  overflow: hidden;
}
.agencyServicesParent {
  position: absolute;
  top: 1397px;
  left: 495px;
  width: 875px;
  height: 452px;
  text-align: right;
  color: var(--color-darkkhaki-200);
}
.footerChild,
.footerItem {
  position: absolute;
  top: -0.15px;
  left: -0.15px;
  border-top: 0.3px solid var(--color-gray-800);
  box-sizing: border-box;
  width: 1440.3px;
  height: 0.3px;
}
.footerItem {
  top: 381.9px;
  left: 347.9px;
  border-top: 0.2px solid var(--text-1);
  width: 744.2px;
  height: 0.2px;
  display: none;
}
.kneeshawDevelomentAll {
  position: absolute;
  top: 266px;
  left: 536px;
  font-size: var(--font-size-mini);
  letter-spacing: 0.02em;
  font-weight: 300;
  opacity: 0.66;
}
.logoWhite1 {
  display: none;
}
.logo1Icon,
.logoWhite1 {
  position: absolute;
  top: 60px;
  left: 645px;
  width: 150px;
  height: 67px;
  object-fit: cover;
}
.akarIconslinkedinFill {
  position: relative;
  width: 25px;
  height: 25px;
  overflow: hidden;
  flex-shrink: 0;
}
.icons {
  position: absolute;
  top: 152px;
  left: 602px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xl);
}
.joinOurNewsletter {
  position: absolute;
  top: 72px;
  left: 1111px;
  font-size: var(--label-m-semibold-size);
  letter-spacing: 0.05em;
  font-family: var(--font-libre-baskerville);
  opacity: 0.7;
}
.subscribeChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-base);
  background-color: var(--color-silver-300);
  width: 415px;
  height: 54px;
  opacity: 0.2;
}
.subscribeItem {
  position: absolute;
  top: 7px;
  left: 274px;
  border-radius: var(--br-2xs);
  background-color: var(--color-darkkhaki-200);
  width: 134px;
  height: 40px;
}
.subscribe1 {
  position: absolute;
  top: 13px;
  left: 288px;
  letter-spacing: 0.1em;
  line-height: 28px;
  font-weight: 600;
}
.yourEmail {
  position: absolute;
  top: 18px;
  left: 20px;
  font-size: var(--label-s-semibold-size);
  letter-spacing: 0.12em;
  color: var(--color-black);
  text-align: left;
  opacity: 0.65;
}
.subscribe {
  position: absolute;
  top: 123px;
  left: 985px;
  width: 415px;
  height: 54px;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--text-1);
}
.games {
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 600;
}
.menu {
  position: absolute;
  top: 60px;
  left: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.terms {
  position: relative;
  letter-spacing: 0.04em;
  font-weight: 600;
}
.privacy {
  position: absolute;
  top: 60px;
  left: 252px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.footer {
  position: absolute;
  top: 3773px;
  left: 0;
  width: 1440px;
  height: 284px;
  display: none;
  font-size: var(--font-size-xl);
  font-family: var(--font-montserrat);
}
.landingPageLightChild {
  position: absolute;
  top: 135.85px;
  left: calc(50% - 720.15px);
  border-top: 0.3px solid var(--color-gray-800);
  box-sizing: border-box;
  width: 1440.3px;
  height: 0.3px;
}
.fullName,
.haveAQuestion {
  position: relative;
  letter-spacing: 0.04em;
}
.haveAQuestion {
  margin: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.fullName {
  line-height: 28px;
  font-weight: 300;
}
.input,
.textField {
  align-self: stretch;
  border-radius: var(--br-7xs);
  border: 1px solid var(--color-silver-300);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-3xs);
}
.textField {
  background-color: transparent;
  font-weight: 300;
  font-family: var(--font-montserrat);
  font-size: var(--label-s-semibold-size);
  box-sizing: border-box;
  height: 242px;
}
.sendMessage {
  position: relative;
  letter-spacing: 1.8px;
  line-height: 28px;
  font-weight: 600;
}
.buttonprimary1,
.inputParent {
  align-self: stretch;
  display: flex;
}
.buttonprimary1 {
  border-radius: var(--br-7xs);
  background-color: var(--color-darkkhaki-200);
  border: 1px solid var(--color-darkkhaki-200);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-base);
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--text-1);
}
.inputParent {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  font-size: var(--label-s-semibold-size);
  color: var(--color-silver-300);
  font-family: var(--font-montserrat);
}
.form,
.haveAQuestion1 {
  position: absolute;
  font-size: var(--font-size-21xl);
  font-family: var(--font-libre-baskerville);
  color: var(--color-gray-600);
}
.form {
  top: 2943px;
  left: calc(50% - 440px);
  border-radius: var(--br-3xl);
  background-color: var(--primary-inverse);
  width: 880px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-41xl) var(--padding-29xl);
  box-sizing: border-box;
  gap: var(--gap-41xl);
  text-align: left;
}
.haveAQuestion1 {
  top: 0;
  left: calc(50% - 289px);
  letter-spacing: 0.04em;
}
.sendButtonChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-darkkhaki-200);
  width: 880px;
  height: 70px;
}
.s {
  text-transform: uppercase;
}
.send {
  position: absolute;
  top: 21px;
  left: 407px;
  letter-spacing: 0.12em;
  line-height: 28px;
  display: inline-block;
  width: 66px;
}
.messageChild,
.sendButton {
  position: absolute;
  left: 0;
  width: 880px;
}
.sendButton {
  top: 689px;
  height: 77px;
  text-align: center;
  font-size: var(--font-size-3xl);
  color: var(--primary-inverse);
}
.messageChild {
  top: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-silver-300);
  height: 180px;
  opacity: 0.2;
}
.typeYourMessage {
  top: 21px;
  left: 40px;
  letter-spacing: 0.04em;
  line-height: 28px;
  font-weight: 300;
}
.div,
.message,
.typeYourMessage {
  position: absolute;
}
.div {
  top: 142px;
  left: 812px;
  font-size: var(--font-size-smi);
  letter-spacing: 0.08em;
  line-height: 28px;
  font-weight: 300;
}
.message {
  top: 409px;
  left: 0;
  width: 880px;
  height: 180px;
}
.email,
.emailChild,
.fullName1 {
  position: absolute;
  left: 0;
  width: 880px;
  height: 70px;
}
.emailChild {
  top: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-silver-300);
  opacity: 0.2;
}
.email,
.fullName1 {
  top: 279px;
}
.fullName1 {
  top: 149px;
}
.craftingInnovativeExperience,
.txtflds {
  position: absolute;
  font-family: var(--font-montserrat);
}
.txtflds {
  top: 3007px;
  left: 280px;
  width: 880px;
  height: 766px;
  display: none;
  font-size: var(--font-size-lg);
  color: var(--color-gray-900);
}
.craftingInnovativeExperience {
  margin: 0;
  top: 25px;
  left: calc(50% - 392px);
  font-size: inherit;
  letter-spacing: 0.04em;
  font-weight: 300;
}
.kneeshawDevelopments,
.meetKneeshaw {
  margin: 0;
  position: absolute;
  font-weight: 700;
  font-family: inherit;
}
.kneeshawDevelopments {
  top: 114px;
  left: 792px;
  font-size: var(--font-size-37xl);
  letter-spacing: 0.18em;
  text-align: center;
}
.meetKneeshaw {
  top: 29px;
  left: 0;
  font-size: inherit;
  letter-spacing: 0.04em;
}
.kneeshawDevelopmentsIsContainer {
  position: absolute;
  top: 98px;
  left: 0;
  font-size: var(--font-size-xl);
  letter-spacing: 0.08em;
  line-height: 31px;
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: var(--color-black);
  display: inline-block;
  width: 704px;
}
.buttonprimary2 {
  cursor: pointer;
  border: 2px solid var(--color-darkkhaki-200);
  padding: var(--padding-xs) var(--padding-base);
  background-color: transparent;
  position: absolute;
  top: 552px;
  left: 0;
  border-radius: var(--br-lg);
  box-sizing: border-box;
  width: 205px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.imageIcon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 9px;
  overflow: hidden;
}
.meetKneeshawParent {
  position: absolute;
  top: 522px;
  left: 424px;
  width: 704px;
  height: 604px;
  color: var(--color-darkkhaki-200);
}
.shape,
.shape1,
.shape2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 10px solid var(--color-silver-300);
  box-sizing: border-box;
  width: 566.59px;
  height: 484.93px;
  opacity: 0.08;
}
.shape1,
.shape2 {
  top: 44px;
  left: 1677px;
  width: 359px;
  height: 485px;
}
.shape2 {
  top: 225px;
  left: 1558px;
  width: 448px;
  height: 562px;
}
.frameChild,
.shapes {
  position: absolute;
  top: 0;
  left: 0;
  width: 2036px;
  height: 787px;
}
.frameChild {
  top: 251px;
  left: 1612px;
  border-radius: 50%;
  background-color: var(--color-darkkhaki-100);
  filter: blur(500px);
  width: 442px;
  height: 442px;
}
.frame {
  position: absolute;
  top: 211px;
  left: -342px;
  width: 2054px;
  height: 1126px;
  overflow: hidden;
}
.landingPageLight {
  position: relative;
  background-color: var(--text-1);
  width: 100%;
  height: 4141px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-gray-600);
  font-family: var(--font-libre-baskerville);
}
