.opacity {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-1400);
  width: 1440px;
  height: 1024px;
}
.logoWhite1 {
  position: relative;
  width: 192px;
  height: 86px;
  object-fit: cover;
}
.games {
  position: relative;
  letter-spacing: 0.03em;
  font-weight: 600;
}
.menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-51xl);
}
.shoppingBagIcon {
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 0;
}
.div {
  position: relative;
  letter-spacing: 3px;
  line-height: 150%;
}
.badge,
.shoppingBagParent {
  display: flex;
  align-items: center;
}
.badge {
  margin: 0 !important;
  position: absolute;
  top: 10px;
  left: 15px;
  border-radius: var(--br-81xl);
  background-color: var(--color-darkkhaki-200);
  width: 16px;
  height: 16px;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}
.shoppingBagParent {
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  text-align: center;
  font-size: var(--font-size-3xs);
}
.signIn1 {
  position: absolute;
  top: 19px;
  left: 0;
  letter-spacing: 0.02em;
  font-weight: 600;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}
.signInChild {
  position: absolute;
  top: 0;
  left: 84px;
  border-radius: var(--br-lg);
  background-color: var(--color-darkkhaki-200);
  width: 150px;
  height: 60px;
}
.signUp {
  position: absolute;
  top: 19px;
  left: 123px;
  letter-spacing: 0.02em;
  font-weight: 600;
  color: var(--text-1);
}
.signIn {
  position: relative;
  width: 234px;
  height: 60px;
  display: none;
  color: var(--color-darkkhaki-200);
}
.bg,
.es {
  position: absolute;
}
.bg {
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-darkkhaki-200);
  width: 48px;
  height: 48px;
}
.es {
  top: calc(50% - 11px);
  left: calc(50% - 12px);
  letter-spacing: 0.03em;
  font-weight: 600;
}
.avatar {
  position: relative;
  width: 48px;
  height: 48px;
}
.emeryStanton {
  position: relative;
  letter-spacing: 0.03em;
  font-weight: 600;
  display: none;
}
.icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.frameParent,
.profile {
  justify-content: flex-start;
}
.profile {
  height: 68px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-5xs);
}
.frameParent {
  gap: var(--gap-5xl);
}
.frameParent,
.header,
.header1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header1 {
  flex: 1;
  justify-content: space-between;
}
.header {
  position: absolute;
  top: 24px;
  right: 0;
  width: 1440px;
  justify-content: flex-start;
  padding: 0 var(--padding-41xl);
  box-sizing: border-box;
}
.imageIcon {
  position: relative;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.image {
  border-radius: var(--br-7xs);
  background-color: var(--text-1);
  border: 1px solid var(--text-1);
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.titanSagaChains {
  position: relative;
  letter-spacing: 0.03em;
}
.row {
  position: absolute;
  top: 160px;
  left: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--font-size-xl);
  font-family: var(--font-libre-baskerville);
}
.overview {
  position: relative;
  letter-spacing: 3px;
  font-weight: 500;
}
.basetabstext {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-12xs-5);
}
.basetabstext,
.basetabstext1,
.tabs {
  display: flex;
  justify-content: flex-start;
}
.tabs {
  height: 22px;
  flex-direction: column;
  align-items: center;
}
.basetabstext1 {
  flex-direction: row;
  align-items: flex-start;
}
.basetabsselection {
  align-self: stretch;
  border-radius: var(--br-12xs-4);
  background-color: var(--color-darkkhaki-200);
  height: 2px;
}
.tab,
.tabs1 {
  display: flex;
  justify-content: flex-start;
}
.tabs1 {
  flex-direction: column;
  align-items: center;
  gap: var(--gap-7xs);
  color: var(--color-darkkhaki-200);
}
.tab {
  position: absolute;
  top: 268px;
  left: 90px;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-5xl);
}
.loremIpsumDolor,
.message {
  display: flex;
  align-items: center;
}
.loremIpsumDolor {
  position: relative;
  line-height: 20px;
  width: 650px;
  flex-shrink: 0;
}
.message {
  border-radius: var(--br-base) var(--br-base) 0 var(--br-base);
  background-color: var(--color-darkslategray-300);
  box-shadow: var(--stroke-block);
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-base);
}
.am {
  position: relative;
  line-height: 20px;
  font-family: var(--font-montserrat);
  color: var(--color-lightsteelblue);
  text-align: right;
}
.messageBubble {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.iIconcheckSwap {
  position: relative;
  width: 16px;
  height: 16px;
  display: none;
}
.tag {
  position: relative;
  line-height: 20px;
}
.mTagBadge {
  border-radius: var(--br-980xl);
  background-color: var(--color-gray-500);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-5xs);
  gap: var(--gap-9xs);
  text-align: right;
  color: var(--primary-inverse);
  font-family: var(--font-montserrat);
}
.un {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 10.5px);
  line-height: 20px;
}
.badge1,
.status {
  position: relative;
}
.badge1 {
  border-radius: var(--br-980xl);
  background-color: var(--color-darkkhaki-200);
  border: 1px solid var(--primary-inverse);
  box-sizing: border-box;
  width: 8px;
  height: 8px;
}
.status {
  line-height: 20px;
  display: none;
}
.dStatusDot {
  position: absolute;
  right: 2px;
  bottom: 2px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  text-align: left;
  color: var(--light-text-primary);
}
.dAvatar {
  position: relative;
  border-radius: var(--br-980xl);
  background-color: var(--color-gray-500);
  width: 40px;
  height: 40px;
}
.message1 {
  border-radius: var(--br-base) var(--br-base) var(--br-base) 0;
  background-color: var(--color-darkslategray-300);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base);
  color: var(--color-whitesmoke-200);
}
.pm {
  position: relative;
  line-height: 20px;
  color: var(--color-lightsteelblue);
  text-align: right;
}
.messageBubble1,
.nameTimeMessage,
.timeMessage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.timeMessage {
  justify-content: center;
  gap: var(--gap-11xs);
}
.messageBubble1,
.nameTimeMessage {
  overflow: hidden;
  justify-content: flex-start;
  text-align: left;
  color: var(--color-darkkhaki-200);
}
.messageBubble1 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-5xl);
  text-align: center;
  color: var(--primary-inverse);
}
.iIconcircleFillSwap {
  position: relative;
  width: 8px;
  height: 8px;
  overflow: hidden;
  flex-shrink: 0;
}
.loremIpsumDolor2 {
  position: relative;
  line-height: 20px;
  display: flex;
  align-items: center;
  width: 448px;
  flex-shrink: 0;
}
.iIconcircleFillSwapParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.messageBubble2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-11xs);
}
.loadingDot {
  position: relative;
  border-radius: 50%;
  background-color: var(--gray-500);
  width: 4px;
  height: 4px;
}
.loadingDotFrame {
  height: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}
.loadingDot1 {
  position: relative;
  border-radius: 50%;
  background-color: var(--gray-400);
  width: 4px;
  height: 4px;
}
.loadingDotFrame1 {
  height: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.loadingDotFrameParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-11xs);
}
.caret,
.caret1 {
  width: 1px;
  height: 20px;
}
.caret1 {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 0.5px);
  background-color: var(--light-text-primary);
}
.caret {
  position: relative;
  display: none;
}
.placeholder {
  position: relative;
  line-height: 20px;
  color: #778592;
}
.partsdInputText,
.textContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.partsdInputText {
  flex-direction: row;
  padding: var(--padding-7xs) 0;
  gap: var(--gap-9xs);
}
.textContainer {
  align-self: stretch;
  background-color: var(--color-gray-500);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-5xs) var(--padding-xs);
}
.dDividerBorderSeparator {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-12xs);
  background-color: var(--color-darkslategray-300);
  height: 1px;
}
.iIconmicrophoneSwap {
  position: relative;
  width: 20px;
  height: 20px;
}
.add,
.dIconButton,
.dIconButton1 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.dIconButton {
  border-radius: var(--br-980xl);
  align-items: flex-end;
  justify-content: center;
  padding: var(--padding-7xs);
}
.add,
.dIconButton1 {
  align-items: center;
}
.dIconButton1 {
  border-radius: var(--br-980xl);
  justify-content: center;
  padding: var(--padding-7xs);
}
.add {
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.iIconcircleSwap {
  position: relative;
  width: 20px;
  height: 20px;
  display: none;
}
.dButton,
.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.dButton {
  border-radius: var(--br-5xs);
  border: 1px solid #3b3b3b;
  overflow: hidden;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-xs);
  gap: var(--gap-9xs);
}
.footer {
  align-self: stretch;
  background-color: var(--color-darkslategray-300);
  justify-content: space-between;
  padding: var(--padding-5xs) var(--padding-xs);
  color: #6a6a6a;
}
.dMessenger,
.frameGroup {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.dMessenger {
  align-self: stretch;
  border-radius: var(--br-xs);
  border: 1px solid var(--color-darkslategray-300);
  overflow: hidden;
  align-items: flex-start;
  color: var(--light-text-primary);
}
.frameGroup {
  position: absolute;
  top: 334px;
  left: calc(50% - 630px);
  width: 1260px;
  align-items: center;
  gap: var(--gap-base);
  font-size: var(--label-s-semibold-size);
  color: var(--color-whitesmoke-200);
  font-family: var(--label-s-semibold);
}
.messengerVersion20 {
  position: relative;
  background-color: var(--color-gray-600);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--text-1);
  font-family: var(--font-montserrat);
}
