.opacity {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-1400);
  width: 1440px;
  height: 1024px;
}
.logoWhite1 {
  position: relative;
  width: 192px;
  height: 86px;
  object-fit: cover;
}
.games {
  position: relative;
  letter-spacing: 0.03em;
  font-weight: 600;
}
.menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-51xl);
}
.shoppingBagIcon {
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 0;
}
.div {
  position: relative;
  letter-spacing: 3px;
  line-height: 150%;
}
.badge,
.shoppingBagParent {
  display: flex;
  align-items: center;
}
.badge {
  margin: 0 !important;
  position: absolute;
  top: 10px;
  left: 15px;
  border-radius: var(--br-81xl);
  background-color: var(--color-darkkhaki-200);
  width: 16px;
  height: 16px;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}
.shoppingBagParent {
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  text-align: center;
  font-size: var(--font-size-3xs);
}
.signIn1 {
  position: absolute;
  top: 19px;
  left: 0;
  letter-spacing: 0.02em;
  font-weight: 600;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}
.signInChild {
  position: absolute;
  top: 0;
  left: 84px;
  border-radius: var(--br-lg);
  background-color: var(--color-darkkhaki-200);
  width: 150px;
  height: 60px;
}
.signUp {
  position: absolute;
  top: 19px;
  left: 123px;
  letter-spacing: 0.02em;
  font-weight: 600;
  color: var(--text-1);
}
.signIn {
  position: relative;
  width: 234px;
  height: 60px;
  display: none;
  color: var(--color-darkkhaki-200);
}
.bg,
.es {
  position: absolute;
}
.bg {
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-darkkhaki-200);
  width: 48px;
  height: 48px;
}
.es {
  top: calc(50% - 11px);
  left: calc(50% - 12px);
  letter-spacing: 0.03em;
  font-weight: 600;
}
.avatar {
  position: relative;
  width: 48px;
  height: 48px;
}
.emeryStanton {
  position: relative;
  letter-spacing: 0.03em;
  font-weight: 600;
  display: none;
}
.icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.frameParent,
.profile {
  justify-content: flex-start;
}
.profile {
  height: 68px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-5xs);
}
.frameParent {
  gap: var(--gap-5xl);
}
.frameParent,
.header,
.header1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header1 {
  flex: 1;
  justify-content: space-between;
}
.header {
  position: absolute;
  top: 24px;
  right: 0;
  width: 1440px;
  justify-content: flex-start;
  padding: 0 var(--padding-41xl);
  box-sizing: border-box;
}
.imageIcon {
  position: relative;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.image {
  border-radius: var(--br-7xs);
  background-color: var(--text-1);
  border: 1px solid var(--text-1);
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.titanSagaChains {
  position: relative;
  letter-spacing: 0.03em;
}
.row {
  position: absolute;
  top: 160px;
  left: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--font-size-xl);
  font-family: var(--font-libre-baskerville);
}
.overview {
  position: relative;
  letter-spacing: 3px;
  font-weight: 500;
}
.basetabstext {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-12xs-5);
}
.basetabstext,
.basetabstext1,
.tabs {
  display: flex;
  justify-content: flex-start;
}
.tabs {
  height: 22px;
  flex-direction: column;
  align-items: center;
}
.basetabstext1 {
  flex-direction: row;
  align-items: flex-start;
}
.basetabsselection {
  align-self: stretch;
  border-radius: var(--br-12xs-4);
  background-color: var(--color-darkkhaki-200);
  height: 2px;
}
.messenger,
.tab,
.tabs1 {
  display: flex;
  justify-content: flex-start;
}
.tabs1 {
  flex-direction: column;
  align-items: center;
  gap: var(--gap-7xs);
  color: var(--color-darkkhaki-200);
}
.messenger,
.tab {
  position: absolute;
  left: 90px;
  align-items: flex-start;
}
.tab {
  top: 268px;
  flex-direction: row;
  gap: var(--gap-5xl);
}
.messenger {
  top: 348px;
  height: 518px;
  flex-direction: column;
}
.messengerVersion10 {
  position: relative;
  background-color: var(--color-gray-600);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--text-1);
  font-family: var(--font-montserrat);
}
