.opacity {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-1400);
  width: 1440px;
  height: 1024px;
}
.logoWhite1 {
  position: relative;
  width: 192px;
  height: 86px;
  object-fit: cover;
}
.games {
  position: relative;
  letter-spacing: 0.03em;
  font-weight: 600;
}
.menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-51xl);
}
.shoppingBagIcon {
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 0;
}
.div {
  position: relative;
  letter-spacing: 3px;
  line-height: 150%;
}
.badge,
.shoppingBagParent {
  display: flex;
  align-items: center;
}
.badge {
  margin: 0 !important;
  position: absolute;
  top: 10px;
  left: 15px;
  border-radius: var(--br-81xl);
  background-color: var(--color-darkkhaki-200);
  width: 16px;
  height: 16px;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}
.shoppingBagParent {
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  text-align: center;
  font-size: var(--font-size-3xs);
}
.signIn1 {
  position: absolute;
  top: 19px;
  left: 0;
  letter-spacing: 0.02em;
  font-weight: 600;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}
.signInChild {
  position: absolute;
  top: 0;
  left: 84px;
  border-radius: var(--br-lg);
  background-color: var(--color-darkkhaki-200);
  width: 150px;
  height: 60px;
}
.signUp {
  position: absolute;
  top: 19px;
  left: 123px;
  letter-spacing: 0.02em;
  font-weight: 600;
  color: var(--text-1);
}
.signIn {
  position: relative;
  width: 234px;
  height: 60px;
  display: none;
  color: var(--color-darkkhaki-200);
}
.bg,
.es {
  position: absolute;
}
.bg {
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-darkkhaki-200);
  width: 48px;
  height: 48px;
}
.es {
  top: calc(50% - 11px);
  left: calc(50% - 12px);
  letter-spacing: 0.03em;
  font-weight: 600;
}
.avatar {
  position: relative;
  width: 48px;
  height: 48px;
}
.emeryStanton {
  position: relative;
  letter-spacing: 0.03em;
  font-weight: 600;
  display: none;
}
.icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.frameParent,
.profile {
  justify-content: flex-start;
}
.profile {
  height: 68px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-5xs);
}
.frameParent {
  gap: var(--gap-5xl);
}
.frameParent,
.header,
.header1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header1 {
  flex: 1;
  justify-content: space-between;
}
.header {
  position: absolute;
  top: 24px;
  right: 0;
  width: 1440px;
  justify-content: flex-start;
  padding: 0 var(--padding-41xl);
  box-sizing: border-box;
}
.tabLabel {
  position: relative;
  letter-spacing: 3px;
  font-weight: 500;
}
.basetabstext {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.basetabsselection {
  align-self: stretch;
  border-radius: var(--br-12xs-4);
  background-color: var(--color-darkkhaki-200);
  height: 2px;
}
.tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  color: var(--color-darkkhaki-200);
}
.basetabstext1 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-12xs-5);
}
.basetabstext1,
.tab,
.tabs1 {
  display: flex;
  justify-content: flex-start;
}
.tabs1 {
  height: 22px;
  flex-direction: column;
  align-items: center;
}
.tab {
  position: absolute;
  top: 268px;
  left: 90px;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-5xl);
}
.imageIcon {
  position: relative;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.image {
  border-radius: var(--br-7xs);
  background-color: var(--text-1);
  border: 1px solid var(--text-1);
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.titanSagaChains {
  position: relative;
  letter-spacing: 0.03em;
}
.row {
  position: absolute;
  top: 160px;
  left: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--font-size-xl);
  font-family: var(--font-libre-baskerville);
}
.subtractIcon {
  position: relative;
  width: 375px;
  height: 110px;
}
.couponChild {
  position: absolute;
  top: 8.55px;
  left: 123px;
  width: 2px;
  height: 85px;
}
.div1,
.ktu7y9l {
  position: absolute;
  top: 0;
  left: 116px;
  font-weight: 600;
}
.ktu7y9l {
  top: 21.45px;
  left: 0;
  font-size: var(--font-size-xl);
  color: var(--color-darkkhaki-200);
}
.redeemCode {
  position: absolute;
  top: 29px;
  left: 116px;
  font-size: var(--label-m-semibold-size);
  font-weight: 500;
}
.parent {
  position: absolute;
  top: 16.55px;
  left: 24px;
  width: 232px;
  height: 49px;
}
.validUntil1 {
  position: absolute;
  top: 81.55px;
  left: 140px;
  font-size: var(--font-size-3xs);
  font-weight: 500;
  color: var(--color-gray-1500);
}
.coupon {
  position: absolute;
  top: 554px;
  left: 453px;
  width: 369px;
  height: 104px;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
}
.itIsA,
.titanSagaChains1 {
  position: absolute;
  left: 451px;
  letter-spacing: 0.03em;
}
.titanSagaChains1 {
  top: 337px;
  font-size: var(--font-size-21xl);
  font-family: var(--font-libre-baskerville);
}
.itIsA {
  top: 423px;
  font-size: var(--font-size-xl);
  line-height: 27px;
  display: inline-block;
  width: 899px;
}
.image13Icon {
  position: absolute;
  top: 337px;
  left: 90px;
  border-radius: var(--br-3xs);
  width: 321px;
  height: 321px;
  object-fit: cover;
}
.text {
  position: relative;
  letter-spacing: 0.03em;
  line-height: 28px;
  font-weight: 500;
}
.buttonBase {
  flex: 1;
  border-radius: var(--br-5xs);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--color-darkkhaki-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xs) var(--padding-lg);
}
.text1 {
  position: relative;
  letter-spacing: 0.03em;
  line-height: 28px;
  font-weight: 600;
}
.buttonBase1,
.modalActions {
  display: flex;
  flex-direction: row;
}
.buttonBase1 {
  flex: 1;
  border-radius: var(--br-7xs);
  background-color: var(--color-darkkhaki-200);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--color-darkkhaki-200);
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xs) var(--padding-lg);
  color: var(--text-1);
}
.modalActions {
  position: absolute;
  top: 682px;
  left: 453px;
  width: 369px;
  align-items: flex-start;
  justify-content: flex-end;
  gap: var(--gap-xs);
  color: var(--color-darkkhaki-200);
}
.overviewVersion10 {
  position: relative;
  background-color: var(--color-gray-600);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--text-1);
  font-family: var(--font-montserrat);
}
