.readMoreChild,
.readMoreItem {
  position: absolute;
  border-radius: 50%;
  filter: blur(500px);
}
.readMoreChild {
  top: 3728px;
  left: 1134px;
  background-color: var(--accent);
  width: 247px;
  height: 247px;
}
.readMoreItem {
  top: 3478px;
  left: 1135px;
  background: radial-gradient(
    50% 50%at 50% 50%,
    #afd276,
    rgba(175, 210, 118, 0)
  );
  width: 392px;
  height: 392px;
}
.imageIcon {
  position: absolute;
  top: 1547px;
  left: 15px;
  width: 1410px;
  height: 776px;
  object-fit: cover;
}
.ellipseDiv,
.readMoreInner {
  position: absolute;
  top: 319px;
  left: 938px;
  border-radius: 50%;
  background-color: var(--color-darkkhaki-100);
  filter: blur(500px);
  width: 442px;
  height: 442px;
}
.ellipseDiv {
  top: 1808px;
  left: 499px;
  filter: blur(1000px);
}
.intersectIcon {
  position: relative;
  width: 594px;
  height: 594px;
}
.image2Icon,
.image3Icon {
  position: relative;
  border-radius: var(--br-9xs);
  width: 335px;
  height: 324px;
  object-fit: cover;
}
.image2Icon {
  height: 54px;
}
.image3Parent {
  position: absolute;
  top: 336px;
  left: 886px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
}
.intersectIcon1 {
  position: relative;
  width: 0;
  height: 0;
  object-fit: cover;
}
.titanSagas {
  margin: 0;
}
.createAStory,
.titanSagasSneakContainer {
  position: absolute;
  left: 90px;
  letter-spacing: 0.02em;
}
.titanSagasSneakContainer {
  top: 287px;
  font-size: 96px;
  line-height: 130px;
  font-family: var(--font-libre-baskerville);
}
.createAStory {
  top: 541px;
  line-height: 27px;
  display: inline-block;
  width: 493px;
}
.rectangle {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xl);
  background-color: var(--color-gray-1100);
  width: 1166px;
  height: 523px;
}
.rectangle1 {
  position: absolute;
  top: 117px;
  left: 70px;
  background-color: rgba(237, 241, 243, 0.2);
  width: 1026px;
  height: 2px;
}
.proposedFutureImprovements {
  position: absolute;
  top: 54px;
  left: 378px;
  letter-spacing: 0.02em;
  line-height: 27px;
}
.screenshot20230420At125 {
  position: absolute;
  top: 169px;
  left: 120px;
  border-radius: var(--br-3xs);
  width: 406px;
  height: 229px;
  object-fit: cover;
}
.groupChild {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background: linear-gradient(89.85deg, #57855b, #a6d27f);
  width: 448px;
  height: 87px;
  opacity: 0.5;
}
.div,
.groupChild,
.groupItem {
  position: absolute;
}
.groupItem {
  top: 0.64px;
  left: -0.5px;
  border-radius: var(--br-5xs);
  width: 39px;
  height: 45px;
  opacity: 0.8;
}
.div {
  top: 10px;
  left: 8.11px;
  letter-spacing: 0.02em;
  display: inline-block;
  width: 22.29px;
}
.vectorParent {
  position: absolute;
  top: 21px;
  left: 20px;
  width: 38px;
  height: 45px;
}
.animatedDifficultyDice {
  position: absolute;
  top: 30px;
  left: 82px;
  font-size: var(--font-size-xl);
  letter-spacing: 0.02em;
  line-height: 27px;
  font-family: var(--font-montserrat);
  color: var(--text-1);
  text-align: left;
}
.rectangleGroup {
  position: absolute;
  top: 169px;
  left: 598px;
  width: 448px;
  height: 87px;
  font-size: 32px;
  color: var(--primary-inverse);
}
.vuesaxlineararrowRightIcon {
  position: relative;
  width: 24px;
  height: 24px;
}
.frameParent,
.vuesaxlineararrowRightWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.vuesaxlineararrowRightWrapper {
  border-radius: var(--br-3xl);
  border: 1px solid var(--text-1);
  padding: var(--padding-3xs);
}
.frameParent {
  position: absolute;
  top: 434px;
  left: 992px;
  gap: var(--gap-base);
}
.rectangleParent {
  position: absolute;
  top: 924px;
  left: 137px;
  width: 1166px;
  height: 523px;
  text-align: center;
  font-size: var(--font-size-5xl);
  font-family: var(--font-libre-baskerville);
}
.frameGroup,
.vuesaxlineararrowRightFrame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.vuesaxlineararrowRightFrame {
  border-radius: var(--br-3xl);
  border: 1px solid var(--text-1);
  padding: var(--padding-3xs);
  opacity: 0.38;
}
.frameGroup {
  position: absolute;
  top: 3229px;
  left: 668px;
  gap: var(--gap-base);
}
.browseMore {
  position: relative;
  letter-spacing: 1.8px;
  line-height: 28px;
  font-weight: 600;
}
.vuesaxlineararrowDownIcon {
  position: relative;
  width: 20px;
  height: 20px;
}
.buttonprimary,
.buttonprimary1 {
  position: absolute;
  border-radius: var(--br-lg);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-base);
  text-align: center;
}
.buttonprimary {
  top: 672px;
  left: 90px;
  border: 2px solid var(--text-1);
  gap: var(--gap-5xs);
}
.buttonprimary1 {
  top: 2081px;
  left: calc(50% - 131px);
  border: 2px solid var(--color-darkkhaki-200);
  color: var(--color-darkkhaki-200);
}
.oneOfTheContainer {
  position: absolute;
  top: 1778px;
  left: 219px;
  font-size: var(--font-size-xl);
  letter-spacing: 0.02em;
  line-height: 27px;
  text-align: center;
  display: inline-block;
  width: 1003px;
}
.details,
.moreScreensFrom {
  position: absolute;
  top: 1707px;
  left: 647px;
  font-size: var(--font-size-21xl);
  letter-spacing: 0.02em;
  font-family: var(--font-libre-baskerville);
}
.moreScreensFrom {
  top: 2423px;
  left: 405px;
}
.image4Icon {
  position: absolute;
  top: 2494px;
  left: 137px;
  border-radius: var(--br-3xl);
  width: 1166px;
  height: 656px;
  object-fit: cover;
}
.readMoreInner1 {
  position: absolute;
  top: 3081px;
  left: 1235px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.pleaseNoteAll {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 27px;
}
.vuesaxlinearinfoCircleParent {
  position: absolute;
  top: 3162px;
  left: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--label-m-semibold-size);
}
.footerChild,
.footerItem {
  position: absolute;
  top: -0.15px;
  left: -0.15px;
  border-top: 0.3px solid var(--text-1);
  box-sizing: border-box;
  width: 1440.3px;
  height: 0.3px;
}
.footerItem {
  top: 341.9px;
  left: 347.9px;
  border-top: 0.2px solid var(--text-1);
  width: 744.2px;
  height: 0.2px;
  display: none;
}
.kneeshawDevelomentAll {
  position: absolute;
  top: 226px;
  left: 536px;
  font-size: var(--font-size-mini);
  letter-spacing: 0.02em;
  font-weight: 300;
  opacity: 0.66;
}
.logoWhite1 {
  position: absolute;
  top: 20px;
  left: 645px;
  width: 150px;
  height: 67px;
  object-fit: cover;
}
.akarIconslinkedinFill {
  position: relative;
  width: 25px;
  height: 25px;
  overflow: hidden;
  flex-shrink: 0;
}
.icons {
  position: absolute;
  top: 112px;
  left: 602px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xl);
}
.joinOurNewsletter {
  position: absolute;
  top: 32px;
  left: 1111px;
  letter-spacing: 0.05em;
  font-family: var(--font-libre-baskerville);
  color: var(--primary-inverse);
  opacity: 0.7;
}
.subscribeChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-base);
  background-color: var(--color-silver-300);
  width: 415px;
  height: 54px;
  opacity: 0.15;
}
.subscribeItem {
  position: absolute;
  top: 7px;
  left: 274px;
  border-radius: var(--br-2xs);
  background-color: var(--color-darkkhaki-200);
  width: 134px;
  height: 40px;
}
.subscribe1 {
  position: absolute;
  top: 13px;
  left: 294px;
  letter-spacing: 0.1em;
  line-height: 28px;
  font-weight: 600;
}
.yourEmail {
  position: absolute;
  top: 18px;
  left: 20px;
  font-size: var(--label-s-semibold-size);
  letter-spacing: 0.12em;
  color: var(--primary-inverse);
  text-align: left;
  opacity: 0.65;
}
.subscribe {
  position: absolute;
  top: 83px;
  left: 985px;
  width: 415px;
  height: 54px;
  text-align: center;
}
.games {
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 600;
}
.menu {
  position: absolute;
  top: 20px;
  left: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  font-size: var(--font-size-xl);
}
.terms {
  position: relative;
  letter-spacing: 0.04em;
  font-weight: 600;
}
.privacy {
  position: absolute;
  top: 20px;
  left: 252px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  font-size: var(--font-size-xl);
}
.footer {
  position: absolute;
  top: 4223px;
  left: 0;
  width: 1440px;
  height: 244px;
  display: none;
  font-size: var(--label-m-semibold-size);
}
.fullName,
.shareYourThoughts {
  position: relative;
  letter-spacing: 0.02em;
}
.fullName {
  letter-spacing: 0.04em;
  line-height: 28px;
  font-weight: 300;
}
.input {
  align-self: stretch;
  border-radius: var(--br-7xs);
  border: 1px solid var(--text-1);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-3xs);
}
.div1,
.writeYourMessage {
  position: relative;
  letter-spacing: 0.04em;
  line-height: 28px;
  font-weight: 300;
  z-index: 0;
}
.div1 {
  position: absolute;
  margin: 0 !important;
  top: 214px;
  left: 726px;
  z-index: 1;
}
.textField {
  border-radius: var(--br-7xs);
  border: 1px solid var(--text-1);
  box-sizing: border-box;
  height: 242px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-3xs);
  position: relative;
  gap: var(--gap-3xs);
}
.buttonprimary2,
.inputParent,
.textField {
  align-self: stretch;
  display: flex;
}
.buttonprimary2 {
  border-radius: var(--br-7xs);
  background-color: var(--color-darkkhaki-200);
  border: 1px solid var(--color-darkkhaki-200);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-base);
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--text-1);
}
.inputParent {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  font-size: var(--label-s-semibold-size);
  color: var(--color-silver-300);
  font-family: var(--font-montserrat);
}
.form,
.shareYourThoughts1 {
  position: absolute;
  font-size: var(--font-size-21xl);
}
.form {
  top: 3393px;
  left: calc(50% - 440px);
  border-radius: var(--br-3xl);
  background-color: var(--color-gray-1100);
  width: 880px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-41xl) var(--padding-29xl);
  box-sizing: border-box;
  gap: var(--gap-41xl);
  font-family: var(--font-libre-baskerville);
}
.shareYourThoughts1 {
  top: 0;
  left: 131px;
  letter-spacing: 0.04em;
}
.sendButtonChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-darkkhaki-200);
  width: 880px;
  height: 70px;
}
.s {
  text-transform: uppercase;
}
.send {
  position: absolute;
  top: 21px;
  left: 407px;
  letter-spacing: 0.12em;
  line-height: 28px;
  display: inline-block;
  width: 66px;
}
.messageChild,
.sendButton {
  position: absolute;
  left: 0;
  width: 880px;
}
.sendButton {
  top: 689px;
  height: 77px;
  text-align: center;
  font-size: var(--font-size-3xl);
  color: var(--primary-inverse);
}
.messageChild {
  top: 0;
  border-radius: var(--br-xl);
  background-color: var(--text-1);
  height: 180px;
  opacity: 0.11;
}
.typeYourMessage {
  top: 21px;
  left: 40px;
  letter-spacing: 0.04em;
  line-height: 28px;
  font-weight: 300;
  opacity: 0.8;
}
.div2,
.message,
.typeYourMessage {
  position: absolute;
}
.div2 {
  top: 142px;
  left: 812px;
  font-size: var(--font-size-smi);
  letter-spacing: 0.08em;
  line-height: 28px;
  font-weight: 300;
  opacity: 0.8;
}
.message {
  top: 409px;
  left: 0;
  width: 880px;
  height: 180px;
}
.email,
.emailChild,
.fullName1,
.txtflds {
  position: absolute;
  left: 0;
  width: 880px;
  height: 70px;
}
.emailChild {
  top: 0;
  border-radius: var(--br-xl);
  background-color: var(--text-1);
  opacity: 0.11;
}
.email,
.fullName1,
.txtflds {
  top: 279px;
}
.fullName1,
.txtflds {
  top: 149px;
}
.txtflds {
  top: 3393px;
  left: 282px;
  height: 766px;
  display: none;
}
.logoWhite11 {
  position: relative;
  width: 192px;
  height: 86px;
  object-fit: cover;
}
.services {
  position: relative;
  letter-spacing: 0.03em;
  font-weight: 600;
}
.menu1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-51xl);
}
.shoppingBagIcon {
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 0;
}
.div3 {
  position: relative;
  letter-spacing: 3px;
  line-height: 150%;
}
.badge,
.shoppingBagParent {
  display: flex;
  align-items: center;
}
.badge {
  margin: 0 !important;
  position: absolute;
  top: 10px;
  left: 15px;
  border-radius: var(--br-81xl);
  background-color: var(--color-darkkhaki-200);
  width: 16px;
  height: 16px;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}
.shoppingBagParent {
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  text-align: center;
  font-size: var(--font-size-3xs);
}
.signIn1 {
  position: absolute;
  top: 15px;
  left: 0;
  letter-spacing: 0.02em;
  font-weight: 600;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}
.signInChild {
  position: absolute;
  top: 0;
  left: 84px;
  border-radius: var(--br-lg);
  background-color: var(--color-darkkhaki-200);
  width: 150px;
  height: 52px;
}
.signUp {
  position: absolute;
  top: 15px;
  left: 124px;
  letter-spacing: 0.02em;
  font-weight: 600;
  color: var(--text-1);
}
.signIn {
  position: relative;
  width: 234px;
  height: 52px;
  color: var(--color-darkkhaki-200);
}
.bg,
.es {
  position: absolute;
}
.bg {
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-darkkhaki-200);
  width: 48px;
  height: 48px;
}
.es {
  top: calc(50% - 11px);
  left: calc(50% - 12px);
  letter-spacing: 0.03em;
  font-weight: 600;
}
.avatar {
  position: relative;
  width: 48px;
  height: 48px;
}
.emeryStanton {
  position: relative;
  letter-spacing: 0.03em;
  font-weight: 600;
  display: none;
}
.icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.frameContainer,
.header1,
.profile {
  flex-direction: row;
  align-items: center;
}
.profile {
  height: 68px;
  display: none;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frameContainer,
.header1 {
  display: flex;
}
.frameContainer {
  justify-content: center;
  gap: var(--gap-5xl);
}
.header1 {
  flex: 1;
  justify-content: space-between;
  z-index: 0;
}
.header,
.headerChild {
  position: absolute;
  box-sizing: border-box;
}
.headerChild {
  margin: 0 !important;
  top: 61px;
  left: 505px;
  border-top: 2px solid var(--color-darkkhaki-200);
  width: 67px;
  height: 2px;
  z-index: 1;
}
.header {
  top: 24px;
  left: 0;
  width: 1440px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-41xl);
  gap: var(--gap-153xl);
}
.readMore {
  position: relative;
  background-color: var(--color-gray-600);
  width: 100%;
  height: 4620px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--text-1);
  font-family: var(--font-montserrat);
}
