.kneeshawIsHappy,
.welcomeBack {
  align-self: stretch;
  position: relative;
  letter-spacing: 1px;
  line-height: 62px;
}
.kneeshawIsHappy {
  font-size: var(--font-size-xl);
  letter-spacing: 0.09em;
  line-height: 31px;
  font-weight: 500;
  font-family: var(--font-montserrat);
}
.title {
  width: 535px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.enterYourEmail {
  align-self: stretch;
  position: relative;
  letter-spacing: 3px;
  line-height: 26px;
  font-weight: 500;
}
.buttonprimary {
  border-radius: var(--br-base);
  border: 1px solid var(--text-1);
  box-sizing: border-box;
  width: 475px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-smi) var(--padding-base);
}
.helperText {
  position: relative;
  font-size: var(--label-s-semibold-size);
  letter-spacing: 3px;
  line-height: 26px;
  font-weight: 500;
  color: var(--text-1);
  display: flex;
  align-items: center;
  width: 475px;
}
.buttonprimary1,
.buttonprimaryParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--label-m-semibold-size);
}
.buttonprimaryParent {
  justify-content: flex-start;
  gap: var(--gap-5xs);
  text-align: left;
}
.buttonprimary1 {
  align-self: stretch;
  border-radius: var(--br-base);
  border: 1px solid var(--text-1);
  justify-content: center;
  padding: var(--padding-smi) var(--padding-base);
}
.sorryYouveEntered {
  align-self: stretch;
  position: relative;
  letter-spacing: 3px;
  line-height: 26px;
  font-weight: 500;
  color: var(--accent);
}
.shape {
  position: relative;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-lightslategray-100);
  box-sizing: border-box;
  width: 19px;
  height: 19px;
}
.rememberMe {
  position: relative;
  letter-spacing: 3px;
  line-height: 22px;
}
.check {
  flex: 1;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-4xs);
}
.forgotPassword {
  position: relative;
  letter-spacing: 3px;
  line-height: 22px;
  font-weight: 500;
  color: var(--accent);
}
.forgotPass {
  width: 475px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-195xl);
  color: var(--color-gray-700);
}
.buttonprimary2,
.createPass {
  display: flex;
  flex-direction: column;
}
.createPass {
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  text-align: left;
}
.buttonprimary2 {
  align-self: stretch;
  border-radius: var(--br-lg);
  background-color: var(--color-darkkhaki-200);
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-base);
  font-size: var(--font-size-lg);
}
.icongoogle {
  position: relative;
  width: 24.39px;
  height: 23.21px;
}
.signInWith {
  position: relative;
  letter-spacing: 2.8px;
  line-height: 28px;
  font-weight: 600;
}
.buttonprimary3 {
  align-self: stretch;
  border-radius: var(--br-lg);
  background-color: var(--color-darkslategray-300);
  border: 1px solid var(--text-1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-base);
  gap: var(--gap-3xs);
  font-size: var(--font-size-lg);
  color: var(--text-1);
}
.signUp {
  font-weight: 600;
  color: var(--color-darkkhaki-200);
}
.dontHaveAnContainer {
  align-self: stretch;
  position: relative;
  letter-spacing: 3px;
  line-height: 22px;
  color: var(--text-1);
}
.form,
.signIn1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.form {
  border-radius: var(--br-xl);
  align-items: flex-start;
  padding: var(--padding-21xl) var(--padding-11xl);
  font-size: var(--label-s-semibold-size);
  color: var(--primary-inverse);
  font-family: var(--font-montserrat);
}
.signIn1 {
  position: absolute;
  top: 149px;
  left: 373px;
  border-radius: var(--br-5xl);
  background-color: var(--color-darkslategray-300);
  align-items: center;
  padding: var(--padding-41xl) var(--padding-61xl);
}
.logoWhite1 {
  position: relative;
  width: 192px;
  height: 86px;
  object-fit: cover;
}
.games {
  position: relative;
  letter-spacing: 0.03em;
  font-weight: 600;
}
.menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-51xl);
}
.shoppingBagIcon {
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 0;
}
.div {
  position: relative;
  letter-spacing: 3px;
  line-height: 150%;
}
.badge,
.shoppingBagParent {
  display: flex;
  align-items: center;
}
.badge {
  margin: 0 !important;
  position: absolute;
  top: 10px;
  left: 15px;
  border-radius: var(--br-81xl);
  background-color: var(--color-darkkhaki-200);
  width: 16px;
  height: 16px;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}
.shoppingBagParent {
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  text-align: center;
  font-size: var(--font-size-3xs);
}
.signIn4 {
  position: absolute;
  top: 15px;
  left: 0;
  letter-spacing: 0.02em;
  font-weight: 600;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}
.signInChild {
  position: absolute;
  top: 0;
  left: 84px;
  border-radius: var(--br-lg);
  background-color: var(--color-darkkhaki-200);
  width: 150px;
  height: 52px;
}
.signUp1 {
  position: absolute;
  top: 15px;
  left: 124px;
  letter-spacing: 0.02em;
  font-weight: 600;
  color: var(--text-1);
}
.signIn3 {
  position: relative;
  width: 234px;
  height: 52px;
  color: var(--color-darkkhaki-200);
}
.bg,
.es {
  position: absolute;
}
.bg {
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-darkkhaki-200);
  width: 48px;
  height: 48px;
}
.es {
  top: calc(50% - 11px);
  left: calc(50% - 12px);
  letter-spacing: 0.03em;
  font-weight: 600;
}
.avatar {
  position: relative;
  width: 48px;
  height: 48px;
}
.emeryStanton {
  position: relative;
  letter-spacing: 0.03em;
  font-weight: 600;
  display: none;
}
.icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.profile {
  height: 68px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frameParent {
  justify-content: center;
  gap: var(--gap-5xl);
}
.frameParent,
.header,
.header1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header1 {
  flex: 1;
  justify-content: space-between;
}
.header {
  position: absolute;
  top: 24px;
  left: 0;
  width: 1440px;
  justify-content: flex-start;
  padding: 0 var(--padding-41xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-lg);
  font-family: var(--font-montserrat);
}
.signIn {
  position: relative;
  background-color: var(--color-gray-600);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-33xl);
  color: var(--text-1);
  font-family: var(--font-libre-baskerville);
}
